<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.yoshiki.APIVoiceInput</string>
  <key>CFBundleName</key>
  <string>API音声ソフト</string>
  <key>CFBundleExecutable</key>
  <string>APIVoiceInputApp</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSMicrophoneUsageDescription</key>
  <string>音声入力のためにマイクを使用します。</string>
  <key>NSAppleEventsUsageDescription</key>
  <string>録音開始時にバックグラウンドのYouTube動画を一時停止するため、ブラウザのYouTubeタブを操作します。</string>
</dict>
</plist>
